# Code for working on the results of the map reduce function

In [1]:
import os
os.environ['SPARK_HOME'] ="/opt/cloudera/parcels/CDH-5.8.0-1.cdh5.8.0.p0.42/lib/spark"

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
conf = pyspark.SparkConf().\
    setAppName('test_app').\
    set('spark.port.maxRetries', 60).\
    set('spark.yarn.appMasterEnv.PYSPARK_PYTHON', '/home/deacuna/anaconda3/bin/python').\
    set('spark.yarn.appMasterEnv.PYSPARK_DRIVER_PYTHON', '/home/deacuna/anaconda3/bin/python').\
    setMaster('yarn-client').\
    set('executor.memory', '1000m').\
    set('spark.yarn.executor.memoryOverhead', '4098').\
    set('spark.sql.codegen', 'true').\
    set('spark.yarn.executor.memory', '500m').\
    set('yarn.scheduler.minimum-allocation-mb', '500m').\
    set('spark.dynamicAllocation.maxExecutors', '3').\
    set('jars', 'hdfs://eggs/graphframes-0.1.0-spark1.6.jar').\
    set('spark.driver.maxResultSize', '4g')

In [4]:
from pyspark.sql import SQLContext, HiveContext
sc = pyspark.SparkContext(conf=conf)
sqlContext = HiveContext(sc)

In [5]:
from pyspark.sql import functions as fn

# Convert the tab separated file output of mapreduce into a parquet file for faster execution

In [6]:
mapRed_rdd = sc.textFile("/user/alain/IST718/data/data.tsv") # read the tab separated file

In [7]:
mapRed_rdd = mapRed_rdd.map(lambda x: x.split('\t'))

In [8]:
mapRed_df = mapRed_rdd.toDF(['StationID', 'CountryCode', 'Year', 'Month', 'Element', 'MonthAverage'])

In [9]:
mapRed_df.write.parquet('IST718/data/mapRed.parquet') # save the parquet file

# Start working on the parquet file

In [6]:
mapRed_parquet = sqlContext.read.parquet("IST718/data/mapRed.parquet")

In [7]:
mapRed_parquet.registerTempTable("weather") # register it as a temporary SQL table

In [8]:
mapRed_parquet.columns # check column names

['StationID', 'CountryCode', 'Year', 'Month', 'Element', 'MonthAverage']

In [10]:
us_temp_df = sqlContext.sql("""
SELECT Year, Month, MonthAverage 
FROM weather 
WHERE CountryCode = \"US\" AND Element = \"TMAX\"""")

In [35]:
def season_type(df):
    m = int(df['Month'])
    spring = range(3, 7)
    summer = range(7, 10)
    fall = range(10, 13)
    if m in spring:
        season = "Spring"
    elif m in summer:
        season = "Summer"
    elif m in fall:
        season = "Fall"
    else:
        season = "Winter"
    return season

In [19]:
#us_temp_df.withColumn('season', season_type(fn.col('Month'))).show(6)
us_temp_pdf = us_temp_df.toPandas()

In [36]:
us_temp_pdf['Season'] = us_temp_pdf.apply(season_type, axis = 1)

In [38]:
us_temp_pdf.to_csv('/users/alain/IST718/USTemp.csv', index = False)

In [39]:
us_temp_pdf.take

<bound method NDFrame.take of          Year Month    MonthAverage  Season
0        2008    10           134.5    Fall
1        2008    11   54.3333333333    Fall
2        2008    12  -47.9677419355    Fall
3        2009    01  -56.6774193548  Winter
4        2009    02   1.21428571429  Winter
5        2009    03            59.7  Spring
6        2009    04           132.3  Spring
7        2009    05   214.225806452  Spring
8        2009    06   239.166666667  Spring
9        2009    07   253.161290323  Summer
10       2009    08   250.161290323  Summer
11       2009    09   227.689655172  Summer
12       2009    10   77.7741935484    Fall
13       2009    11           109.6    Fall
14       2009    12   -59.935483871    Fall
15       2010    01  -83.2580645161  Winter
16       2010    02  -54.1071428571  Winter
17       2010    03   72.8387096774  Spring
18       2010    04   182.344827586  Spring
19       2010    05   203.387096774  Spring
20       2010    06   253.392857143  Spring
21       2010    07   284.833333333  Summer
22       2010    08   285.258064516  Summer
23       2010    09           214.7  Summer
24       2010    10           180.1    Fall
25       2010    11            58.5    Fall
26       2010    12           -49.0    Fall
27       2011    01  -74.4838709677  Winter
28       2011    02  -42.6071428571  Winter
29       2011    03   26.7096774194  Spring
...       ...   ...             ...     ...
7338220  2015    09            72.6  Summer
7338221  2015    10   17.9259259259    Fall
7338222  2015    11  -24.5384615385    Fall
7338223  2015    12          -108.0    Fall
7338224  2016    01  -80.1363636364  Winter
7338225  2016    02   -83.652173913  Winter
7338226  2016    03         -129.64  Spring
7338227  2016    04   17.9285714286  Spring
7338228  2016    05    128.35483871  Spring
7338229  2016    06   180.933333333  Spring
7338230  2016    07    198.64516129  Summer
7338231  2016    08   182.586206897  Summer
7338232  2016    09           102.6  Summer
7338233  2016    10   32.3548387097    Fall
7338234  2016    11  -65.3333333333    Fall
7338235  2015    08   90.4166666667  Summer
7338236  2015    09   65.1666666667  Summer
7338237  2015    10   21.9032258065    Fall
7338238  2015    11           -41.6    Fall
7338239  2016    01           -17.0  Winter
7338240  2016    02  -9.44827586207  Winter
7338241  2016    03  -33.4516129032  Spring
7338242  2016    04   71.6666666667  Spring
7338243  2016    05   131.096774194  Spring
7338244  2016    06           166.0  Spring
7338245  2016    07   164.166666667  Summer
7338246  2016    08           173.0  Summer
7338247  2016    09   105.733333333  Summer
7338248  2016    10   41.3225806452    Fall
7338249  2016    11  -17.3333333333    Fall

[7338250 rows x 4 columns]>

In [12]:
# Check the year with the most countries records
sqlContext.sql("select Year, COUNT(DISTINCT CountryCode) AS count FROM weather GROUP BY Year ORDER BY count DESC").show(200)

+----+-----+
|Year|count|
+----+-----+
|1982|  206|
|1984|  206|
|1985|  206|
|1986|  206|
|1988|  206|
|1989|  206|
|1990|  205|
|1981|  205|
|1983|  205|
|1987|  205|
|1991|  204|
|1993|  204|
|1994|  204|
|1979|  204|
|1980|  203|
|1992|  202|
|1995|  202|
|1974|  202|
|1975|  202|
|1977|  202|
|2011|  202|
|2012|  202|
|2014|  202|
|1973|  201|
|2005|  201|
|1978|  201|
|2010|  201|
|2013|  201|
|2004|  200|
|2006|  200|
|2008|  200|
|2009|  200|
|1976|  200|
|2015|  200|
|1997|  199|
|1996|  199|
|2007|  199|
|2001|  198|
|2003|  198|
|2016|  198|
|1998|  197|
|2002|  196|
|2000|  195|
|1999|  194|
|1957|  160|
|1960|  159|
|1961|  159|
|1958|  158|
|1959|  158|
|1962|  157|
|1963|  154|
|1964|  153|
|1956|  152|
|1965|  152|
|1955|  150|
|1967|  148|
|1966|  144|
|1954|  142|
|1968|  142|
|1953|  140|
|1969|  136|
|1972|  136|
|1971|  136|
|1951|  136|
|1952|  136|
|1970|  134|
|1945|  128|
|1950|  127|
|1949|  122|
|1946|  120|
|1944|  118|
|1947|  112|
|1948|  110|
|1943|  108|
|1942|   95|
|1941|   86|
|1940|   80|
|1938|   75|
|1935|   74|
|1937|   74|
|1936|   74|
|1933|   73|
|1932|   73|
|1939|   73|
|1934|   73|
|1931|   72|
|1928|   69|
|1929|   69|
|1930|   68|
|1927|   68|
|1926|   67|
|1924|   65|
|1925|   65|
|1923|   65|
|1922|   63|
|1913|   62|
|1914|   62|
|1921|   62|
|1915|   61|
|1917|   60|
|1910|   60|
|1919|   59|
|1912|   59|
|1920|   59|
|1918|   59|
|1911|   59|
|1916|   59|
|1909|   58|
|1908|   57|
|1907|   55|
|1906|   54|
|1904|   54|
|1903|   53|
|1905|   53|
|1902|   52|
|1901|   51|
|1900|   45|
|1899|   43|
|1898|   42|
|1895|   40|
|1894|   39|
|1893|   39|
|1896|   39|
|1897|   39|
|1889|   38|
|1888|   38|
|1886|   37|
|1887|   37|
|1891|   37|
|1892|   37|
|1890|   37|
|1885|   34|
|1884|   34|
|1883|   33|
|1881|   32|
|1882|   32|
|1880|   23|
|1877|   21|
|1878|   21|
|1879|   21|
|1875|   20|
|1876|   20|
|1874|   18|
|1873|   17|
|1871|   16|
|1869|   16|
|1872|   16|
|1870|   16|
|1867|   16|
|1860|   15|
|1865|   15|
|1866|   15|
|1868|   15|
|1864|   15|
|1859|   14|
|1857|   14|
|1863|   14|
|1858|   14|
|1861|   14|
|1862|   13|
|1856|   12|
|1855|   11|
|1852|   11|
|1853|   11|
|1851|   10|
|1850|   10|
|1854|   10|
|1847|    9|
|1848|    9|
|1849|    9|
|1846|    9|
|1840|    8|
|1844|    8|
|1845|    8|
|1842|    7|
|1843|    7|
|1841|    7|
|1836|    6|
|1839|    6|
|1838|    6|
|1833|    5|
|1834|    5|
|1835|    5|
|1837|    5|
|1832|    4|
|1826|    3|
|1825|    3|
|1813|    3|
|1808|    3|
|1827|    3|
|1815|    3|
|1804|    3|
|1828|    3|
|1817|    3|
|1816|    3|
|1781|    3|
|1819|    3|
|1814|    3|
|1818|    3|
|1782|    3|
+----+-----+
only showing top 200 rows

In [18]:
t.show(5)

+-----------+----+-------+------------------+
|CountryCode|Year|Element|               _c3|
+-----------+----+-------+------------------+
|         IN|1937|   PRCP|34.381267549292794|
|         IR|1961|   TMAX|230.86387395459022|
|         IS|2008|   TMAX| 264.3117430971986|
|         IS|2013|   TMIN|157.70138864770337|
|         IT|2014|   SNWD|451.54899889787794|
|         IT|1818|   PRCP|14.750377624171668|
|         IT|1837|   TMIN| 89.64576612910248|
|         IT|1966|   WSFG| 84.45246272476524|
|         IT|1968|   SNOW|               0.0|
|         IT|1961|   WDFG|              null|
+-----------+----+-------+------------------+
only showing top 10 rows

In [8]:
countriesISO_rdd = sc.textFile("/user/alain/IST718/data/ghcnd-stations_ISO.csv").map(lambda line: line.split(","))
countriesISO_df = countriesISO_rdd.toDF(['CountryCode', 'ISO2', 'ISO3']) # Country code is the pseudo ISO2 codes

In [9]:
# the latest year with most countries data is 2014.
currentTemp_df = sqlContext.sql("""
SELECT CountryCode, AVG(MonthAverage) AS Value
FROM weather
WHERE Year = 2014
GROUP BY CountryCode
""")

In [10]:
# join with the countries ISO codes to create a map
currentTemp_df = currentTemp_df.join(countriesISO_df, "CountryCode")

In [22]:
currentTemp_df.show()

+-----------+------------------+----+----+
|CountryCode|             Value|ISO2|ISO3|
+-----------+------------------+----+----+
|         MT|136.05849549992467|  MT| MLT|
|         GG|133.64580390438186|  GE| GEO|
|         MU|209.97831977056083|  OM| OMN|
|         TD|200.71485143098442|  TT| TTO|
|         GH|210.86333270189337|  GH| GHA|
|         MV|191.63336965820798|  MV| MDV|
|         TE|   213.51147800335|  TF| ATF|
|         GI|131.47983469442053|  GI| GIB|
|         MX|158.97488953947175|  MX| MEX|
|         MY|176.95553756564712|  MY| MYS|
|         TH|218.82653060415026|  TH| THA|
|         GL|-4.202453541350763|  GL| GRL|
|         MZ|179.08647911844764|  MZ| MOZ|
|         TI| 139.2794394394776|  UZ| UZB|
|         GM| 63.89786796652545|  DE| DEU|
|         GP|187.95435638797503|  FR| FRA|
|         GQ| 86.55699974681225|  GU| GUM|
|         GR| 88.53482818030292|  GR| GRC|
|         TO|212.78754437972705|  GH| GHA|
|         AE| 230.3588800630487|  AE| ARE|
+-----------+------------------+----+----+
only showing top 20 rows

In [14]:
# select data from 100 years ago from 2014 (i.e., 1914).
oldTemp_df = sqlContext.sql("""
SELECT CountryCode, AVG(MonthAverage) AS OldValue
FROM weather
WHERE Year = 1914
GROUP BY CountryCode
""")

In [15]:
# join with the countries ISO codes to create a map
oldTemp_df = oldTemp_df.join(countriesISO_df, "CountryCode")

In [16]:
# join with the countries ISO codes to create a map
oldTemp_df = oldTemp_df.join(currentTemp_df, "CountryCode")

In [21]:
oldTemp_df.show(5)

+-----------+-------------------+----+----+------------------+----+----+
|CountryCode|           OldValue|ISO2|ISO3|             Value|ISO2|ISO3|
+-----------+-------------------+----+----+------------------+----+----+
|         GG| 103.55570677776406|  GE| GEO|133.64580390438186|  GE| GEO|
|         MX|  87.72729039850554|  MX| MEX|158.97488953947175|  MX| MEX|
|         GL|-25.457227129197207|  GL| GRL|-4.202453541350763|  GL| GRL|
|         TI| 56.103212492849096|  UZ| UZB| 139.2794394394776|  UZ| UZB|
|         GM|  74.48523994505423|  DE| DEU| 63.89786796652545|  DE| DEU|
+-----------+-------------------+----+----+------------------+----+----+
only showing top 5 rows

In [39]:
oldTemp_pdf = oldTemp_df.toPandas()

In [40]:
oldTemp_pdf['TempDiff'] = oldTemp_pdf.Value - oldTemp_pdf.OldValue

In [41]:
oldTemp_pdf.drop(oldTemp_pdf.columns[[1, 4]], axis = 1, inplace = True)

In [42]:
oldTemp_pdf

   CountryCode ISO2 ISO3 ISO2 ISO3    TempDiff
0           GG   GE  GEO   GE  GEO   30.090097
1           MX   MX  MEX   MX  MEX   71.247599
2           GL   GL  GRL   GL  GRL   21.254774
3           TI   UZ  UZB   UZ  UZB   83.176227
4           GM   DE  DEU   DE  DEU  -10.587372
5           AG   DZ  DZA   DZ  DZA   15.521613
6           TS   TN  TUN   TN  TUN    3.713935
7           AJ   AZ  AZE   AZ  AZE  119.161460
8           NG   NE  NER   NE  NER   -8.404112
9           AM   AM  ARM   AM  ARM   22.860621
10          TX   TM  TKM   TM  TKM   32.521787
11          NL   NL  NLD   NL  NLD  -29.631211
12          AR   AR  ARG   AR  ARG  -28.785058
13          NO   NO  NOR   NO  NOR  -19.460365
14          AS   AU  AUS   AU  AUS   40.320293
15          AU   AT  AUT   AT  AUT  117.543848
16          UK   GB  GBR   GB  GBR   -5.818294
17          BC   BW  BWA   BW  BWA  148.291008
18          HR   HR  HRV   HR  HRV   23.410114
19          BE   BE  BEL   BE  BEL   44.505727
20          UP   UA  UKR   UA  UKR   31.653872
21          HU   HU  HUN   HU  HUN   -5.905286
22          US   US  USA   US  USA   22.629424
23          BK   BA  BIH   BA  BIH   36.588693
24          BO   BY  BLR   BY  BLR   23.550349
25          UZ   UZ  UZB   UZ  UZB   26.661058
26          BR   BR  BRA   BR  BRA  144.630626
27          IN   IN  IND   IN  IND  191.287733
28          CA   CA  CAN   CA  CAN   17.692303
29          CE   LK  LKA   LK  LKA  -25.028069
..         ...  ...  ...  ...  ...         ...
31          IT   IT  ITA   IT  ITA   99.136790
32          PK   PK  PAK   PK  PAK  169.023193
33          PO   PT  PRT   PT  PRT   17.306149
34          WA   NA  NAM   NA  NAM  173.594846
35          CY   CY  CYP   CY  CYP   23.359205
36          DA   DK  DNK   DK  DNK   10.989535
37          WZ   SZ  SWZ   SZ  SWZ  131.677431
38          KG   KG  KGZ   KG  KGZ   50.236999
39          EG   EG  EGY   EG  EGY   66.852271
40          EI   IE  IRL   IE  IRL   20.688285
41          KZ   KZ  KAZ   KZ  KAZ   31.042889
42          EN   EE  EST   EE  EST   13.375140
43          RO   RO  ROU   RO  ROU   -2.641528
44          RQ   PR  PRI   PR  PRI   -0.180301
45          RS   RU  RUS   RU  RUS   43.938972
46          LG   EE  EST   EE  EST   24.779056
47          LH   LT  LTU   LT  LTU   30.011554
48          EZ   CZ  CZE   CZ  CZE    1.187502
49          LO   SK  SVK   SK  SVK  -63.491882
50          FI   FI  FIN   FI  FIN   42.402539
51          SF   ZA  ZAF   ZA  ZAF  123.010566
52          SI   SI  SVN   SI  SVN   46.990705
53          FR   FR  FRA   FR  FRA   13.070781
54          SP   ES  ESP   ES  ESP   20.251631
55          MD   MD  MDA   MD  MDA   25.588578
56          MI   MW  MWI   MW  MWI  107.091127
57          SW   SE  SWE   SE  SWE   34.509811
58          SY   SY  SYR   SY  SYR  158.571443
59          SZ   CH  CHE   CH  CHE   46.659101
60          MO   MA  MAR   MA  MAR   20.549612

[61 rows x 6 columns]

In [23]:
currentTemp_df.toPandas().to_csv('/users/alain/IST718/currentTemp.csv', index = False) # save the results

In [43]:
oldTemp_pdf.to_csv('/users/alain/IST718/TempDiff.csv', index = False) # save the results